<h1><a href="/urls">TinyApp</a></h1>
<div align="right">
  <!-- Login or register links displayed if not logged, login details otherwise -->
  <% if (typeof user === "undefined") { %>
    <a href="/login">Login Here</a>
    <a href="/register">Register</a>
  <% } else { %>
    <p><%= user.email %></p>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout">
    </form>
  <% } %>
</div>