<h1><a href="/urls">TinyApp</a></h1>

<% if (username === undefined) { %>
  <form method="POST" action="/login">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" placeholder="Please enter username">
    <input type="submit" value="Login">
  </form>
<% } else { %>
  <p><%= [username] %></p>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
<% } %>
