<!DOCTYPE HTML>
<html lang="en">
  <head><title>TinyApp</title></head>
  <body>
    <% include ./partials/_header %>
    <h1><a href="/urls">TinyApp</a></h1>
    <form method="POST" action="/login">
      <label for="email">Email: </label>
      <input id="email" type="text" name="email" placeholder="Please enter your email">
      <input id="password" class="inputfield" type="password" name="password" placeholder="password">
      <input type="submit" value="Login">
  </body>
</html>