<!DOCTYPE HTML>
<html lang="en">
  <Head>
  </Head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h1>Register</h1>

    <form action="/register" method="POST">
      <input id="email" class="inputfield" type="email" name="email" placeholder="address@email.com">
      <input id="password" class="inputfield" type="password" name="password" placeholder="password">
      <input type="submit" value="Register">
    </form>
  </body>
</html>