<!DOCTYPE HTML>
<html>
  <Head>
  </Head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h1>Tiny App</h1>
    <h3>Register</h3>
    <form action="/register" method="POST">
      <input id="email" class="inputfield" type="email" name="email" placeholder="address@email.com">
      <input id="password" class="inputfield" type="password" name="password" placeholder="password">
      <input type="submit" value="Register">
    </form>
  </body>
</html>