<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header.ejs %>
  </head>
  <body>
    <h1>URL Listings</h1>
    <ul>
      <% for (url in urls) { %>
        <li><%= url %> -> <%= urls[url] %></li>
      <% }; %>
    </ul>
    <a href="/createnewlink.ejs">Create your own</a>
  </body>
</html>
