<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
  <body>
    <h1>URL Listings</h1>
    <p>
      <%= urls[shortURL]  %> - <%= shortURL %>
    </p>
  </body>
</html>
