<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <p>
      <a href="<%= urls[shortURL]%>"><%= urls[shortURL] %></a> -> <%= shortURL %>
    </p>
  </body>
</html>
